AirplaneCompany/.idea/
AirplaneCompany/AirplaneCompany/obj/AirplaneCompany.csproj.nuget.dgspec.json
AirplaneCompany/AirplaneCompany/obj/AirplaneCompany.csproj.nuget.g.props
AirplaneCompany/AirplaneCompany/obj/AirplaneCompany.csproj.nuget.g.targets
AirplaneCompany/AirplaneCompany/obj/project.assets.json
AirplaneCompany/AirplaneCompany/obj/project.nuget.cache
AirplaneCompany/AirplaneCompany/obj/project.packagespec.json
AirplaneCompany/AirplaneCompany/obj/rider.project.restore.info
AirplaneCompany/AirplaneCompany/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
AirplaneCompany/AirplaneCompany/obj/Debug/net5.0/AirplaneCompany.AssemblyInfo.cs
AirplaneCompany/AirplaneCompany/obj/Debug/net5.0/AirplaneCompany.AssemblyInfoInputs.cache
AirplaneCompany/AirplaneCompany/obj/Debug/net5.0/AirplaneCompany.assets.cache
AirplaneCompany/AirplaneCompany/obj/Debug/net5.0/AirplaneCompany.csproj.AssemblyReference.cache
AirplaneCompany/AirplaneCompany/obj/Debug/net5.0/AirplaneCompany.csproj.CoreCompileInputs.cache
AirplaneCompany/AirplaneCompany/obj/Debug/net5.0/AirplaneCompany.csproj.FileListAbsolute.txt
AirplaneCompany/AirplaneCompany/obj/Debug/net5.0/AirplaneCompany.dll
AirplaneCompany/AirplaneCompany/obj/Debug/net5.0/AirplaneCompany.GeneratedMSBuildEditorConfig.editorconfig
AirplaneCompany/AirplaneCompany/obj/Debug/net5.0/AirplaneCompany.genruntimeconfig.cache
AirplaneCompany/AirplaneCompany/obj/Debug/net5.0/AirplaneCompany.pdb
AirplaneCompany/AirplaneCompany/obj/Debug/net5.0/apphost.exe
AirplaneCompany/AirplaneCompany/obj/Debug/net5.0/ref/AirplaneCompany.dll
AirplaneCompany/AirplaneCompany/bin/Debug/net5.0/AirplaneCompany.deps.json
AirplaneCompany/AirplaneCompany/bin/Debug/net5.0/AirplaneCompany.dll
AirplaneCompany/AirplaneCompany/bin/Debug/net5.0/AirplaneCompany.exe
AirplaneCompany/AirplaneCompany/bin/Debug/net5.0/AirplaneCompany.pdb
AirplaneCompany/AirplaneCompany/bin/Debug/net5.0/AirplaneCompany.runtimeconfig.dev.json
AirplaneCompany/AirplaneCompany/bin/Debug/net5.0/AirplaneCompany.runtimeconfig.json
AirplaneCompany/AirplaneCompany/bin/Debug/net5.0/ref/AirplaneCompany.dll
